  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=tcp:10.0.0.170\MSSQLSERVER,1433;Initial Catalog=BlogSystem;Integrated Security=False;User ID=wizard;Password=wizard;Encrypt=True;MultipleActiveResultSets=True;TrustServerCertificate=True"  providerName="System.Data.SqlClient"/>
    <!--<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BlogSystem;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=BlogSystem;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
